<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="C:/Temp/logs/Helathcare020_Desktop_Logs/${shortdate}_logfile.txt"
            layout="Date and time: ${longdate}
            Level: ${level} Message: ${message}
            Stack trace: ${exception:format=Message,StackTrace}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>